/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

header h1 {
    margin: 0;
}

section {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

footer {
    margin-top: auto; /* Asegura que el footer esté siempre al final de la página */
}

/* Animación del header */
header {
    animation: slideIn 2s forwards;
    transform: translateX(-100%);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
